/* 
#project-section-container{
   background-color: #e4e4e4;
   position: relative;
   border-top-left-radius: 60px 70px;
   border-top-right-radius: 60px 70px;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   padding: 35px;
   height: 100vh;
   background-image: linear-gradient(rgba(194, 196, 194, 0.159) .1em, transparent .1em), linear-gradient(90deg, rgba(161, 162, 161, 0.186) .1em, transparent .1em);
   background-size: 3em 3em;

  
} */

#project-section-container {
  background-color: #f8f9fa;
  position: relative;
  border-top-left-radius: 60px 70px;
  border-top-right-radius: 60px 70px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 35px;
  /* background-image: linear-gradient(rgba(194, 196, 194, 0.159) .1em, transparent .1em), linear-gradient(90deg, rgba(161, 162, 161, 0.186) .1em, transparent .1em); */
  background-size: 3em 3em;
  color: #1d1d1d;

}
.project-head{
    padding: 0 30px 0 30px;
}

    .container-image-project {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .container-project-display{
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
  
  }
  .list-text {
    display: flex;
    padding: 15px;
    flex-direction: column;
    border: solid 0.2px #abaaaa;
    /* background-color: #006ee6; */
    border-radius: 28px;
    margin-bottom: 10px;
    /* color: white; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
transition: 0.3s;
  }
.list-text:hover{
  box-shadow: 0 0.25em 0.25em -0.1em rgb(172, 172, 174);
  transform: translateY(-0.25em);
  animation-delay: 1s;

}
  
#tech-pill{

    background-color: #30d8d8;
}
#location-pill{

    background-color: #ff6347e6;

}
#service-pill {
  background-color: #d0d074;
}
.box1 h1{
     font-size: 4.5rem;
    font-weight: 600;

}

.box2 {
  display: block;
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  }

  .box2 h2{
font-size: 3rem;

  }
  .project-container {
    padding-top: 10px;
    pointer-events: auto;

  }
  
#project-container{
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
}
body:not(.mobile) .list-text:hover + .img-project img{
    visibility: visible;
    transform: translate(-50%, -50%) scale(0.7);
    transition: opacity 0.1s, visibility 0.1s, transform 0.2s;
    width: 100%;
    
}
.project-pill-container{
        display: flex;
        width: 70%;
        justify-content: space-around;
        height: 50px;
        
}
.project-pill{
    border: solid 0.5px rgba(47, 45, 45, 0);
    padding: 10px;
    border-radius: 18px;
    overflow-y: hidden;
   

   

}
.list-project {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .hover-container img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  
  .hover-container:hover img {
    display: block;
  }


  .img-project-conatiner {
    height: 215px;

}
  .img-project img {
    height: 24vh;
}

  .react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform,transition;
    height: 100vh;
}
.react-multi-carousel-list.carousel-container ul{
  height: 100vh;
  margin-top: 40px;
 

/* .project-list-container {
  margin: 19px;
  display: block;
  background-color: #ebe3e3;
  padding: 55px;
  border-radius: 20px;
} */

}


  

    /*===== new style ====*/
.container-pro{
  display: flex;
}
.image-container{
  display: block;
  width: 700px;
  height: 500px;
  background-color: #1d1d1d;

}
.text-project p{
  
  margin-left: 32px;
}



/* card*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 100%;
}

.card img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px 0;
}
li.react-multi-carousel-item.react-multi-carousel-item--active.carousel-item-padding-40-px {
padding: 15px;
}


  @media screen and (max-width: 768px) {
    #project-section{
      width: var(--container-width-sm);
      display: flex!important;
      flex-direction: column-reverse!important;
      height: 100%;
  }
  span.project-date {
    text-align: center;
  }

    .project-pill-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      height: 50px;
  }
  .project-pill-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
}
.project-pill p{
  font-size: 10px;
}
.img-project {
  z-index: 100;
  width: 100%;
}
#project-section-container {
 
  position: relative;
  overflow-y: hidden;
}
.project-list-container {
  margin: 0;
  display: block;
}
.box2 h2 {
  font-size: 2rem;

}
.box1 h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  position: absolute;
  top:50%;
  z-index: 999;
  }
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    position: absolute;
  top:50%;
  z-index: 999;
  }
  .pill-container {
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    object-position: left;
    margin-left: 0px;

}
.desc-container {
  text-align: center;
}
span.heading-project-ul {
  text-align: center;
  margin-top: 25px;
}
  
  }
  
