.Landing-section {
    height: 100vh;

    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: block;
    position: relative;
    pointer-events: none;
    transform: none !important;
    clip-path: none !important;
    box-shadow: none !important;
}

.tagline-landing {

    position: absolute;
    /* position: relative; */
    top: 60%;
    z-index: 999;
    color: #323030;


}

span.index-module_type__E-SaG {
    display: none;
    width: 75%;
    display: block;
}



.pill-design {

    background-color: #0c3df6cf;
    height: 55%;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #ffffffff;
    text-transform: capitalize;
    padding: 11px;
    /* border: solid 1px; */
    pointer-events: auto;
    transition: 1s;
    margin: 10px;


}

.pill-design a {
    color: #ffffff;
}

.landing-catalog h1 {

    font-weight: 500;

}


.blob-container {
    height: 100%;
    width: 100%;
    display: flex;

}

.hover-text {
    width: 5vw;
    position: relative;
    top: 50%;
    height: fit-content;
    right: 50%;
    color: white;
    animation: hover-text, Pulsate 6s infinite;

}

@keyframes hover-text {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg)
    }

    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg)
    }
}

@keyframes Pulsate {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


canvas {
    height: 100%;
    width: 100%;
    animation-name: float;
    transform-origin: 50% 50%;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float {
    to {
        top: 0;
    }

    from {
        top: 30px;
    }
}


.binary-cube {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    position: relative;


}

.hover-text {
    transition: visibility 0.3s ease;
    cursor: pointer;
}

.hover-text.hidden {
    visibility: hidden !important;
}

span.hover-text {
    visibility: hidden;
}


@media screen and (min-width: 1880px) {

    .binary-cube {
        height: 700px;
        touch-action: auto;

    }

}



#landing-page {
    border-radius: 70px;
    padding: 10px;
    height: 100vh;

}

.landing-text {
    width: 100%;
    display: inline-flex;
}

.landing-text h1 {
    margin-top: 10px;
    width: 500px;
}

.container-text {
    display: flex;
    width: 100%;
}

.spacing {

    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.spacing p {
    text-align: center;
}

.landing-catalog {
    display: inline-flex;
    width: 100%;
    justify-content: end;


}

.landing-catalog h1 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.8rem;
    width: 300px;

}

.circle {

    height: 50px;
    width: 50px;
    background-color: rgb(77, 71, 255);
    border-radius: 50%;
    margin: 4px 15px 10px 10px;


}

.mouse-container {
    display: flex;
    justify-content: center;
}

.mouse {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 50px;
    border: solid 2px #252121;
    border-radius: 40px;
}

.scroller {

    position: absolute;
    top: 0px;
    left: 10px;
    background: #2d2a2a;
    width: 7px;
    height: 25px;
    border-radius: 5px;
    animation-name: ani-mouse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


@keyframes ani-mouse {

    0%,
    100% {
        background: rgb(43, 40, 40);
    }

    50% {
        opacity: 0.5;
    }
}


@media screen and (max-width: 988px) {

    .tagline-landing {

        top: 0;
        text-align: left;


    }

    .pill-design {
        width: 100%;


    }

    .landing-catalog h1 {
        font-size: 1rem;
    }

    .binary-cube {
        display: flex;
        height: 500px !important;
        width: 100%;
        justify-content: center;
        position: relative;

    }

    #landing-page {
        margin-top: 0px;
 

    }

    div#landing-container {
        background-color: transparent;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }

    #landing-page {
        padding: 10px;
    }

    .landing-container {
        position: relative;
        bottom: 100px;
    }

    .landing-text h1 {

        width: 100% !important;

    }

    .container-fluid {
        margin-top: 9px;
    }

    span.index-module_type__E-SaG {
        display: none;
        width: 100%;
        text-align: left;
        display: block;
    }

    .sct-landing-mobile {
        margin-top: 0px !important;
        padding-top: 0px !important;

    }

    canvas {

        display: block;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
        position: absolute !important;


    }

    div#cube-canva {

        display: block;
        padding: 10px;
        width: 80%;
        height: 80%;
        display: block;
        justify-content: left;
        display: flex;
        position: absolute;

    }

    .tagline-landing {
        position: absolute;
        /* position: relative; */
        top: 57%;
        z-index: 999;
        color: #323030;
        width: 86%;

    }


    .container-text {
        display: flex;

        text-align: center;

        position: relative;
        top: 180px;
        flex-direction: column;

    }


    .landing-catalog {
        margin-top: 50px;
        justify-content: center;
    }

    .circle {
        display: none;
    }

    .landing-catalog h1 {
        font-weight: 500;
        margin-top: 10px;
        font-size: 1rem;
        width: 290px;
    }

    .hover-text {

        display: none;

    }
}