.comming-soon-container{
    height: 100vh;
    text-align: center;
    padding:350px;
   

}
.comming-soon-container h1{
    
font-size: 5rem;
}

.lab-section{
    background-color:#e0e0e0;
        position: relative;
        border-top-left-radius: 60px 70px;
        border-top-right-radius: 60px 70px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        padding: 35px;
        height: 100vh;
    }

  .lab-section h2{
    text-align: center;
}
.lab-section h1{
    text-align: center;
}
.lab-section{
  
        width: 100%;
        display: block;
    
}


@media screen and (max-width: 768px) {


.comming-soon-container {
    height: 100vh;
    text-align: center;
    padding: 0px
}
}